/* line 1, ../sass/products.scss */
.container {
  background-color: #333;
  min-height: 300px;
}

/* line 7, ../sass/products.scss */
.specialbanner {
  height: 50px;
  max-height: 50px;
  background-color: transparent;
}
