html {
    font-size: 125%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555555;
    background-color: #ecf0f1;
}

h1 {
    color: #ecf0f1;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 100;

}

ul {
    list-style-type: none;
    color: #ecf0f1;
    float: right;
    top:0px;
    position: absolute;
}

li {
    float: left;
    padding: 15px;
}


.logo {
    color: #ecf0f1;
    font-weight: 200;
    font-size: 30px;
}

#menu-haut {
    background-color: #95a5a6; /*TODO transparent*/
    height: 50px;
    position: fixed;
    top:0; right: 0; left: 0;
    z-index: 1000;
}

#principale {

    background-color: #2980b9;
    position: absolute;

    top:50px; right: 0; left: 0;
    height: 400px;
}

#principale .annonce {
    background-color: red;
    right: 0; left: 0;
    width: 50%;
}

#principale #formulaire {
    float: right;
    background-color: #555555;
    right: 0; left: 0;
    width: 50%;
}

/*
    RESPONSIVE
*/

@media (max-width: 800px) {
    html {
        font-size: 100%;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 80%;
    }
}