
@import url("font.css");

html {
    font-size: 125%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-family: "Lobster", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555555;
    background-color: #ecf0f1;
}

h1 {
    color: #ecf0f1;
    text-transform: uppercase;
    font-weight: 100;
}

.logo {
    float: left;
}

ul {
    list-style-type: none;
    top:0px;
    margin: 0;
    float: right;
    padding: 0;
}

li {
    float: left;
    padding: 15px 10px;
}


.logo {
    font-weight: 200;
    font-size: 200%;
    padding-left: 15px;

}

#menu {
    background-color: #ecf0f1; /*TODO transparent*/
    opacity: 0.9;
    height: 55px;
    position: fixed;
    top:0; right: 0; left: 0;
    z-index: 1000;
    color: #444444;
}

#main {

    height: 100%;
    width: 100%;
    background: url("../maquette/home_960_grid_12_col-assets/bg.jpg") no-repeat;
    position: absolute;

    top:45px; right: 0; left: 0;
}

#main .annonce {
    /*background-color: red;*/
    right: 0; left: 0;
    width: 50%;
    float: left;
    height: 100%;
}

#main #formulaire {
    /*background-color: #555555;*/
    right: 0; left: 0;
    width: 50%;
    margin: 0;
    float: right;
    height: 100%;
}

/*
    RESPONSIVE
*/

@media (max-width: 800px) {
    html {
        font-size: 100%;
    }
    #menu {
        height: 40px;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 80%;
    }

    #menu {
        height: 35px;
    }
}